<form class="form">
    <div class="input-container">
        <label class="input-label" for="name">Title</label>
        <input 
            class="input-field"
            #box 
            (keyup.enter)="onEnter(box.value)" 
            (blur)="onEnter(box.value)"
            id="name"
            type="text"
            name="titleInput" 
            required
        />
    </div>
    <div class="input-container">
        <label class="input-label" for="date-input">Date</label>
        <input 
            class="input-field"
            id="date-input" 
            type="date" 
            [min]="minDate"
            [(ngModel)]="dateInput" 
            (ngModelChange)="onDateChange($event)"
            name="dateInput" 
            required
        />
    </div>
</form>